.uploadPageWrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:white;
}

.uploadTitle {
    position: absolute;
    left: 47%;
}

.fileButton {
    visibility: hidden;
}

.aboutVideoDiv{
    display:none;
}

.uploadFileDiv{
    position: absolute;
    left:50%;
    top:50%;
    width:50%;
    height:70%;
    transform:translate(-50%,-50%);
    background-color:lightgrey;
}

.videoAboutTitle{
    color:white;
    left:42%;
    position: relative;
}

.videoInputButton{
    bottom:40%;
    left:40%;
    background-color: rgb(70, 70, 255);
    color:white;
    height:5%;
    position: absolute;
    width:15%;
    border-radius: 10px;
}

.videoInputButtonText{
    position: relative;
    left:11%;
    top:10%;
    font-size:1.2vw;
    font-weight:bold;
}